<html>
    <head>
        <link rel="stylesheet" href="slate_generic.css" />
    </head>
    <body>
        <!--<img class="logo_footer" src="logo.svg" />-->
        <div class="main-container">
            <div class="info-container">
                <div class="title">{project[name]}</div>
                <div class="subtitle">{asset}_{task[short]}_v{@version}</div>
                <div class="info-entry">
                    <div class="info-desc">Date:</div>
                    <div class="info-text">{dd} {mmm} {yyyy}</div>
                </div>
                <div class="info-entry">
                    <div class="info-desc">Length:</div>
                    <div class="info-text">{frameStart} - {frameEnd}</div>
                </div>
                <div class="info-entry">
                    <div class="info-desc">Resolution:</div>
                    <div class="info-text">{resolution_width} x {resolution_height}</div>
                </div>
                <div class="info-entry">
                    <div class="info-desc">Scope:</div>
                    <div class="info-text">{scope}</div>
                </div>
                <div class="info-entry">
                    <div class="info-desc">Intent:</div>
                    <div class="info-text">{intent[value]}</div>
                </div>
                <div class="info-entry">
                    <div class="info-desc">Notes:</div>
                    <div class="info-text">{comment}</div>
                </div>
            </div>
            <div class="sidebar">
                <div class="thumbs">
                    <img class="thumb" src="slate_generic_thumb.jpg" />
                    <img class="thumb" src="slate_generic_thumb.jpg" />
                </div>
                <div class="charts">
                    <img class="chart" src="slate_generic_chart.png" />
                </div>
            </div>
        </div>
    </body>
</html>